<!doctype html>
<html>
<head>
<title>{{x.name}}'s details - Ministry Of Labour And Employment</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/layout.css' %}">
<style>
  .table{
    width:50%;    
  }
</style>
{% if message %}
<script>
alert('{{ message }}');
</script>
{% endif %}

</head>
<body>


<header >
    <div>
        <img src="{% static 'image/ministry-of-labour.png' %}" alt="" class="float-left header-img">
        <img src="{% static 'image/national-career-service.png' %}" alt="" class="float-right header-img">
    </div>
    <nav class="navbar navbar-expand-lg navigation float-bottom">
      <a class="nav-item nav-link" href=""></a>

        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <a class="nav-item nav-link active" href="/{{code}}/home">Home <span class="sr-only">(current)</span></a>
            {% if sector is 1 %}
            <a class="nav-item nav-link" href="/{{code}}/register">Register</a>
            <a class="nav-item nav-link" href="/{{code}}/add_course">Add course</a>
            {% endif %}
            <a class="nav-item nav-link" href="/{{code}}/add_work">Add Work</a>
            <a class="nav-item nav-link" href="/{{code}}/add_resign">Add Resign</a>
            <a class="nav-item nav-link" href="/{{code}}/activity">Activity</a>
          </div>
        </div> -->
      </nav>
</header>
<br><br>



<div class="container">
  <div class="container">
    <div class="float-right img-thumbnail ">
      <img src="{{x.photo.url}}" alt="f'{{x.name}} image'" width="150px" height="150px">
      </div>
  </div>

<div class="lang-tamil container">
  <h3>PERSONAL DETAILS:</h3>

<table class="table">
  
  <tr>
    <td>Name: </td>
    <td>{{x.name}}    </td>
  </tr>
  <tr>
    <td>Aadhar Number: </td>
    <td>{{x.aadhar}} </td>
  </tr>
  <tr>
    <td>Date Of Birth: </td>
    <td>{{x.dob}} </td>
  </tr>
  <tr>
    <td>Gender: </td>
    <td>{{x.gender}} </td>
  </tr>
  <tr>
    <td> Address:</td>
    <td>{{x.street}}, <br>{{x.district}}, <br> {{x.state}}</td>
  </tr>
  <tr>
    <td>Pincode: </td>
    <td>{{x.pincode}} </td>
  </tr>
  <tr>
    <td>Email: </td>
    <td>{{x.email}} </td>
  </tr>
  <tr>
    <td>Mobile: </td>
    <td>{{x.mobile}} </td>
  </tr>
  <tr>
    <td>Nationality: </td>
    <td>{{x.nationality}} </td>
  </tr>
</table>
</div>


<h3>EDUCATION INFO:</h3>

  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>instution Name
        </th>
        <th>Course name</th>
        <th>Completion date</th>
        <th>Grade</th>
      </tr>
    </thead>
  
    <tr>
      {% for i in y %}
      <tr>
        <td>{{i.inst_code.inst_name}}</td>
        <td>{{i.course_name}}</td>
        <td>{{i.completion_date}}</td>
        <td>{{i.grade}}</td>
      </tr>
    </tr>
      {% endfor %}
  
  </table>
  


  <h3>WORK EXPERIENCE:</h3>

<table class="table table-stripped table-bordered">
  <thead class="thead-dark" >
    <tr>
      <th>Organisation Name
      </th>
      <th>Role name</th>
      <th>Join date</th>
      <th>resign date</th>
    </tr>
  </thead>

    {% for i in z %}
    <tr>
      <td>{{i.org_code.org_name}}</td>
      <td>{{i.role}}</td>
      <td>{{i.join_date}}</td>
      {% if i.resign_date is None %}
      <td class="text-success">currently Working</td>
      {% else %}
      <td>{{i.resign_date}}</td>
      {% endif %}
    </tr>
    {% endfor %}
    {% for i in a %}
    <tr>
      <td>{{i.inst_code.inst_name}}</td>
      <td>{{i.role}}</td>
      <td>{{i.join_date}}</td>
      {% if i.resign_date is None %}
      <td class="text-success">currently Working</td>
      {% else %}
      <td>{{i.resign_date}}</td>
      {% endif %}
    </tr>
    {% endfor %}

</table>


{% if uw %}
<h3>UNORGANISED WORK:</h3>
<ul>
  {% for i in uw %}
  <li>{{i.work_name}}</li>
  {% endfor %}
</ul>
{% endif %}

</div>
<div id="google_translate_element"></div>
<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script>
	function googleTranslateElementInit(){
		new google.translate.TranslateElement(
			{pageLanguage: 'en'},
			'google_translate_element'
		);
	}
</script>

<br><br><br><br>


  <footer class="">
   <small>&copy; Copyright 2022 Minstry Of Labour And Welfare.All Rights Reserved</small> 
   </footer>

</body>
</html>